<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<h1>Hasil Tambah Anda</h1>

<form action ="cari_nama">
masukan nama <input type="text" name="cari_nama" >
<button type="submit">Cari</button>

</form>


<table border="1" class="table table-striped">


     <tr>
     <td>Nama Anda</td>
     <td>Usia Anda</td>
     </tr>


     <tr th:each =modelRizal:${ModelRizalList}>
     <td><a th:text="${modelRizal.namaRizal}" ></a></td>
     <td><a th:text="${modelRizal.umurRizal}" ></a></td>
     
    </tr>

</table>

</form>


</body>
</html>