<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>

<h1>List Kartu Yugioh!</h1>

<table>
<tr>
<td>Nama Kartu</td>
<td>Kode Kartu</td>
<td>Jenis Kartu</td>
</tr>

<tr th:each="modelKartu:${ModelKartuList}">
<td><a th:text="${modelKartu.namaKartu}"></a></td>
<td><a th:text="${modelKartu.kodeKartu}"></a></td>
<td><a th:text="${modelKartu.JenisKartu}"></a></td>
</tr>




</table>

</body>
</html>