<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<h1>Hasil Tambah Anda</h1>



<table>


     <tr>
     <td>Nama Anda</td>
     <td>Usia Anda</td>
     </tr>


     <tr th:each =modelDokter:${DokterModelList}>
     <td><a th:text="${modelDokter.idDokter}" ></a></td>
     <td><a th:text="${modelDokter.namaDokter}" ></a></td>
     <td><a th:text="${modelDokter.gelarDokter}" ></a></td>
     
    </tr>

</table>



</body>
</html>